<section id="landing">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h3 class="section-title">Erwin Search</h3>
      <p class="section-description">Sélectionnez le profil type (Expérience, Expertise, Spécialités, Localisation)</p>
    </div>
    <div class="row-counters d-flex">
      <div class="col-lg-4 col-12 text-center">
        <div class="box p-2 mb-4">
          <p>Nombre de freelancers total</a></p>
          <span data-purecounter-start="0" data-purecounter-end="10529" data-purecounter-duration="1" class="purecounter"></span>
        </div>
      </div>
      <div class="col-lg-4 col-12 text-center">
        <div class="box p-2 mb-4">
          <p>Taux Journalier Moyen</a></p>
          <span data-purecounter-start="0" data-purecounter-end="653" data-purecounter-duration="1" class="purecounter"></span>
        </div>
      </div>
      <div class="col-lg-4 col-12 text-center">
        <div class="box p-2 mb-4">
          <p>Taux Journalier Médian</a></p>
          <span data-purecounter-start="0" data-purecounter-end="425" data-purecounter-duration="1" class="purecounter"></span>
        </div>
      </div>
    </div>

    <div class="row landing-container">
      <div class="col-lg-6 content order-lg-1 order-2">
        <div class='chartdiv'>
          <%= javascript_pack_tag 'amcharts', 'data-turbolinks-track': 'reload' %>
        </div>
        <div class='buttons-area'>
          <a href="#" class="btn-get-started p-2 m-3 text-center">Export</a>
          <a href="#" class="btn-get-started p-2 m-3 text-center">Seems Right?</a>
        </div>
      </div>
      <div class="col-lg-6 background order-lg-2 order-1">
        <div class='row-counters p-2 m-3'>
          <%= form_tag freelancer_expertises_data_path, id: "filter-form"  do %>
            <div class="col-lg-2 col-6 text-center">
              <%= select_tag("Expertises", options_for_select(Expertise.pluck(:name)), include_blank: true,
              class: "form-control") %>
            </div>

            <div class="col-lg-2 col-6 text-center">
              <%= select_tag("Technologies", options_for_select(Technology.pluck(:name)), include_blank: true,
              class: "form-control") %>
            </div>

            <div class="col-lg-2 col-6 text-center">
              <%= select_tag("Seniority", options_for_select(Freelancer.pluck(:experience).uniq), include_blank: true,
              class: "form-control") %>
            </div>

            <div class="col-lg-2 col-6 text-center">
              <%= text_field_tag :location,
                  params[:location],
                  class: "form-control ui-autocomplete-input",
                  placeholder: "Where?",
                  class: "btn btn-success" %>
            </div>
            <div class="col-lg-2 col-6 text-center">
              <%= submit_tag "become someone now!", class: "btn btn-success" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</section>
